{% extends 'base/base.html' %}

{% block title %}
    All Posts Here
{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <h1 class="title">Newest Fire News</h1>
        </div>
    </div> 
    <div class="column">
        <div class="column is-12">
            <table class="table is-stripped is-fullwidth">

                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                            <p>
                            by {{ article.created_by.username }} | <span title="{{ article.created_at }}">{{ article.created_at|timesince }} ago</span> |
                            <a href="{% url 'get_article' article.id %}">Details</a> |
                                {% if user.is_authenticated %}
                                    {% if not article.created_by == request.user %}
                                        {% if not article.has_reported %}
                                            <a href="{% url 'report' article.id %}">Report |</a>
                                        {% else %}

                                            <a href="{% url 'unreport' article.id %}">UnReport |</a>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'login' %}?next={{ request.path }}">Report</a>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
