{% extends 'base/base.html' %}

{% block title %}
    User Submissions
{% endblock %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Articles</h1>
            </div>
        </div>
        <ul>

            <ul>
                {% for article in safe_articles %}
<!--                    <li><a href="{% url 'get_article' article.id %}">{{ article.title }}</a></li>-->
                    <li><span title="Created at {{ article.created_at }}                       url:  {{ article.url }}">
                        <a href="{{ article.url }}" target="_blank" style="color: black; text-decoration: none;">{{ article.title }}</a></span></li>

                {% endfor %}
            </ul>
            <h4>Reported comments</h4>
            <ul>
                {% for article in red_articles %}
<!--                    <li><a href="{% url 'get_article' article.id %}">{{ article.title }}</a></li>-->
                    <li style="color: red;"><span title="Created at {{ article.created_at }}                        url: {{ article.url }}">
                        <a href="{{ article.url }}" target="_blank" style="color: red; text-decoration: none;">{{ article.title }}</a></span></li>

                {% endfor %}
            </ul>
        </ul>
        
    </div>
{% endblock %}